<!-- Loop over each object in the blog array -->
<div class="d-flex flex-column-reverse">
{{#each blogs as |blog| }}
<article class="row mb-4 blog justify-center border-bottom border-right tb-site-container" blog-id={{blog.id}}>
  <div class="col-md-6">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/blog/{{blog.id}}" class="text-light">{{blog.title}}</a>
    </h2>  
    <p>Posted by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.content}}
    </p>
  </div>
</article>
{{/each}}
</div>